html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background: #fff url(images/bg.png);
}

.container {
  background: #fff;
  margin: 0 auto;
  width: 1040px;
  max-width: 90%;
  padding: 0 30px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #444;
 
}

#nav-bar a {
  font-size: 12px;
  text-decoration: none;
  padding: 5px 5px;
  font-family: "Droid Serif";
  color: #999;
}

.right-nav {
  display: flex;
}

.heading {
  text-align: center;
  font-size: 18px;
  font-family: "Droid Serif";
  font-weight: 400;
  padding: 0 20px;
}

.heading2 {
  text-align: center;
  font-size: 18px;
  font-family: "Droid Serif";
  font-weight: 400;
  padding: 0 20px;
}

.heading-pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#header {
  color: #000;
  text-align: center;
  line-height: 1.4em;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 5px solid #444;
  font-size: 100%;
}

#header h1 {
  margin-top: 40px;
  font-family: "Droid Serif";
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}

.title {
  font-size: 32px;
  font-family: "Droid Serif";
  font-weight: 700;
}

.call-outs div {
  margin: 0 10px;
}

.call-outs {
  display: flex;
}

.recent-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recent-news p {
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: #555;
  line-height: 22.1px;
}

.recent-news a {
  text-decoration: none;
  color: #000;
}

.recent-news a:hover {
  color: #3fb7b7;
}

.img-container {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  width: 25%;
  padding-bottom: 20px;
}

.img-container img {
  width: 230px;
  display: flex;
}

.img-container a {
  text-decoration: none;
  color: #000;
}

.img-container p {
  display: flex;
  line-height: 1em;
  display: block;
  float: initial;
  padding: 7px 15px;
  background: black;
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  align-self: flex-start;
}

.img2-container {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  width: 25%;
}

.img2-container img {
  width: 230px;
  display: flex;
}

.img2-container h3 {
  font-size: 13px;
  font-family: "Droid Serif";
  font-weight: 700;
  padding-bottom: none;
}

.img2-container p {
  padding-bottom: 40px;
  display: flex;
}

.adapt h2 {
  color: white;
}

.adapt p {
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: rgb(127, 127, 127);
  line-height: 22.1px;
}

.posts {
  color: white;
}

.post-list a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: lightgrey;
  line-height: 22.1px;
}

.post-list a:hover {
  color: #3fb7b7;
}

.tags {
  color: white;
}

.tag-list a {
  line-height: 1em;
  display: block;
  float: left;
  padding: 7px 15px;
  background: #3fb7b7;
  margin-bottom: 4px;
  margin-right: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
}

.no-decor {
  text-decoration: none;
  color: white;
}

.search {
  color: white;
}

.search-list input {
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 11px;
  background: #fff;
  border: 1px solid #ddd;
  display: block;
  font-size: 11px;
  color: #555;
  font-weight: 400;
  margin-left: 0;
  line-height: 1.6em;
}

.search-list {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: rgb(127, 127, 127);
  line-height: 22.1px;
}

.call-outs a:hover {
  color: #3fb7b7;
}

.call-outs a {
  font-size: 16px;
  font-family: "Droid Serif";
  font-weight: 400;
  line-height: 1.5em;
  word-spacing: 2px;
  text-decoration: none;
  color: #000;
}

.call-outs p {
  margin: 0 0 1em;
  font-family: "Droid Serif";
  font-size: 13px;
  font-weight: 400;
  line-height: 22.1px;
}

.slide-show {
    position:relative;
  }

.scroll:hover {
    color: #3fb7b7;
    }
  
a.flex-next, a.flex-prev {
  	position: absolute;
  	display: block;
  	z-index: 101;
  	font-size: 21px;
  	height: 80px;
  	width: 50px;
  	line-height: 80px;
  	color: #fff;
  	background: #000;
  	display: block;
  	position: absolute;
  	top: 50%;
  	margin-top: -40px;
  	cursor: pointer;
  	text-align: center;
  	opacity: 0.4;
  }
  
a.flex-next:hover, a.flex-prev:hover {
      text-decoration: none;
      background: #47C0C0;
      opacity: 1;
  }
  
a.flex-next {
    right: 0;
  }
  
.sf-menu, .sf-menu * {
	padding: 0;
	list-style: none;
  font-family: "Droid Serif",  sans-serif;
  font-size: 12px;
}

.sf-menu { 
  line-height: 1.0;
  margin-top: 30px;
 }
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
  top: -999em; 
  width: 180px;
	left: 0;
  z-index: 99;
  background: #fff;
  border: 1px solid #ddd;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul { 
  left: 10px; 
  top: 40px; z-index: 99; 
}

.sf-menu ul li {
  width: 100%;
  border: 1px solid #ddd;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.sf-menu a {
	display: block;
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

.sf-menu ul a { 
  margin: 0; 
  line-height: normal; 
  height: auto; 
  padding: 10px; 
  display: block; 
  float: none; 
  color: #999; 
  font-weight: normal; 
  text-transform: none; 
}
.sf-menu a:hover {
  color: #000;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
  margin-top: -1px;
}

.sf-menu ul a:focus,
.sf-menu ul a:hover,
.sf-menu ul a:active { 
  color: #000; 
  background: #f9f9f9; 
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { 
  left: 180px; 
  top: 0; 
}

footer {
  background-color: #7f7f7f7f;
  background: #222;
  margin: 0 -30px;
}

.footer-section {
  display: flex;
  background: #222;
  color: #7f7f7f7f;
  padding-left:25px;
  padding-right: 25px;
}

.footer-section > div {
  flex-basis: 25%;
  margin: 0 10px;
}

.footer-section .tags a, .footer-section .tags a:visited {
  color: white;
  text-decoration: none;
  opacity: .9;
}

.footer-section .tags a:hover {
  opacity: 1;
}

.footer-section h2 {
  font-size: 13px;
  font-family: "Droid Serif", Arial;
  line-height: 22.1px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  display: block;
  font-weight: 700;
  margin: 25px 0;
  border-bottom: thin solid rgb(127, 127, 127);
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: #7f7f7f7f;
  font-size: 12px;
  text-decoration: none;
  border-top: thin solid rgb(127, 127, 127);
  margin: 0 35px;
}

.bottom-footer a {
  font-size: 10px;
  font-family: "Droid Serif";
}

.bottom-footer p {
  color: rgb(127, 127, 127);
  font-size: 10px;
  font-family: "Droid Serif", Arial, Helvetica, sans-serif;
}

.bottom-footer p a:hover {
  color: #3fb7b7;
}

