html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background: #fff url(images/bg.png);
}

footer {
  background-color: #7f7f7f7f;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #444;
 
}

.right-nav {
  display: flex;
}

#header {
  color: #000;
  text-align: center;
  line-height: 1.4em;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 5px solid #444;
  font-size: 100%;
}

.container {
  background: #fff;
  margin: 0 auto;
  width: 1040px;
  max-width: 90%;
  padding: 0 30px;
}

.call-outs {
  display: flex;
}

.heading-pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-container {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  width: 25%;
}

.img-container img {
  width: 230px;
  display: flex;
  
}

.recent-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img2-container {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  width: 25%;
}

.img2-container img {
  width: 230px;
  display: flex;
}


.img-container p {
  align-self: flex-start;
}

.recent-news {
  display: flex;
}


.adapt h2 {
  color: white;
}

.tags {
  color: white;
}

.posts {
  color: white;
}

.post-list a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: lightgrey;
  line-height: 22.1px;
}

.post-list a:hover {
  color: #3fb7b7;
}

.search {
  color: white;
}

.search-list {
  color: #7f7f7f7f;
}

.footer-section {
  display: flex;
  background: #222;
  color: #7f7f7f7f;
}

.footer-section > div {
  flex-basis: 25%;
}

.recent-news a {
  text-decoration: none;
  color: #000;
}

.recent-news a:hover {
  color: #3fb7b7;
}

.tags h2 {
  
  border-bottom-style: solid;
  border-bottom-color: rgb(127, 127, 127);
  border-bottom-width: thin; 
}

.adapt h2 {
  border-bottom-style: solid;
  border-bottom-color: rgb(127, 127, 127);
  border-bottom-width: thin; 
}

.posts h2 {
  border-bottom-style: solid;
  border-bottom-color: rgb(127, 127, 127);
  border-bottom-width: thin; 
}

.search h2 {
  border-bottom-style: solid;
  border-bottom-color: rgb(127, 127, 127);
  border-bottom-width: thin; 
}

.tag-list a{
  line-height: 1em;
  display: block;
  float: left;
  padding: 7px 15px;
  background: #3fb7b7;
  margin-bottom: 4px;
  margin-right: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: #7f7f7f7f;
  font-size: 12px;
  text-decoration: none;
  margin: 0 -30px;
}

.footer-section {
  padding-left:25px;
  margin: 0 -30px;
}

.footer-section .tags a, .footer-section .tags a:visited {
  color: white;
  text-decoration: none;
  opacity: .9;
}

.footer-section .tags a:hover {
  opacity: 1;
}

.footer-section h2 {
  font-size: 13px;
  font-family: "Droid Serif", Arial;
  line-height: 22.1px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  display: block;
  font-weight: 700;
  margin: 25px 0;
}

.no-decor {
  text-decoration: none;
  color: white;
}

.bottom-footer p a:hover {
  color: #3fb7b7;
}

.search-list input {
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 11px;
  background: #fff;
  border: 1px solid #ddd;
  display: block;
  font-size: 11px;
  color: #555;
  font-weight: 400;
  margin-left: 0;
  line-height: 1.6em;
  
}

.scroll:hover {
color: #3fb7b7;
}

.call-outs a {
  text-decoration: none;
  color: #000;
}

.call-outs a:hover {
  color: #3fb7b7;
}

.img-container a {
  text-decoration: none;
  color: #000;
}

.recent-news p {
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: #555;
  line-height: 22.1px;
}

.adapt p {
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: #7f7f7f;
  line-height: 22.1px;
}

.search-list {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-family: "Droid Serif",  sans-serif;
  word-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: #7f7f7f;
  line-height: 22.1px;
  
}

.footer-section {
  
  border-bottom-color: rgb(127, 127, 127);
  border-bottom-style: solid;
  border-bottom-width: thin;
  
}

